<mat-card class="mr-4 mt-4" appearance="outlined">
  <div class="flex">
    <div class="w-full">
      <div class="chip-button mt-4">
        <button matButton="elevated">Terminada</button>
      </div>
      <mat-card-header>
        <mat-card-title>Corte clasico</mat-card-title>
        <mat-card-subtitle>Colomas Barber</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button class="bg-sky-700" mat-raised-button color="primary">
          Reservar de nuevo
        </button>
      </mat-card-actions>
    </div>
    <div class="w-60 date">
      <p>Junio</p>
      <h1>18</h1>
      <p>14:30</p>
    </div>
  </div>
</mat-card>
