.chip-button {
  width: 100%;
}

.chip-button > button {
  background: #b4b2b2;
  margin: 0 12px;
  color: black;
  height: 20px;
}

.date {
  border-left: 0.5px solid #651717;
  text-align: center;
  align-content: center;
}
