<div>
  <app-nav />
</div>

<div class="w-full pt-24 pb-52 min-h-screen box-border flex">
  <div class="w-[500px] h-full">
    <app-customer-profile (menuSelected)="onMenuSelected($event)" />
  </div>

  <div class="flex-grow border-container">
    <ng-container [ngSwitch]="selectedMenu">
      <app-profile-user *ngSwitchCase="'citas'" />
      <!-- ... otros componentes -->
      <div *ngSwitchDefault>Selecciona una opción del menú.</div>
    </ng-container>
  </div>
</div>

<div>
  <app-footer />
</div>
