<footer
  class="footer-home bg-gray-900 mt-[20px] h-52 text-white text-center leading-[60px] fixed bottom-0 w-full"
>
  <div class="flex space-x-4 ml-8 text-[12px] leading-[124px]">
    <a href="">Block</a>
    <a href="">Quiénes somos</a>
    <a href="">Preguntas frecuentes</a>
    <a href="">Politica de privacidad</a>
    <a href="">Condiciones de uso</a>
    <a href="">Empleos</a>
    <a href="">Booking</a>
    <a href="">Contacto</a>
  </div>
  <hr />
  <div class="flex items-center justify-between">
    <p class="ml-[28px] text-left">
      © 2025 - Todos los derechos reservados Jhonnatan Dussán
    </p>
    <div class="flex space-x-4 mr-[28px]">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-square-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </div>
</footer>
