mat-form-field {
  height: 34px;
  display: flex;
  align-items: center;
}

mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0;
}

mat-form-field input {
  height: 100%;
  text-align: center;
}
