<nav
  class="bg-gray-900 z-[100] w-full fixed top-0 left-0 px-5 md:px-0 flex h-24 items-center justify-between"
>
  <span class="flex-grow md:flex-grow-0 flex justify-center text-white">
    <a routerLink="/"
      ><img
        src="logos/logo2.svg"
        alt=""
        width="300"
        height="85"
        class="w-12 mx-5"
    /></a>
  </span>
  <div class="flex items-center justify-center space-x-4">
    <mat-form-field>
      <input matInput placeholder="Search" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Search Customer" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Search" />
    </mat-form-field>
  </div>
  <div class="flex justify-end space-x-4 text-gray-100">
    <p class="">{{ loggedCustomer?.username }}</p>
    @if (!loggedCustomer) {
    <button
      mat-icon-button
      type="button"
      id="admin-button"
      data-testid="close-drawer-button"
      class=""
      (click)="goToPage('/sign')"
    >
      Sign In
    </button>
    <button
      mat-icon-button
      type="button"
      id="admin-button"
      data-testid="close-drawer-button"
      class=""
      (click)="goToPage('/accountCreate')"
    >
      Account Create
    </button>
    }
    <button
      mat-icon-button
      type="button"
      id="perfil-button"
      data-testid="close-drawer-button"
      class=""
      (click)="goToPage('/profile')"
    >
      <i class="fa-regular fa-circle-user"></i>
      Profile
    </button>
    <button
      mat-icon-button
      type="button"
      id="admin-button"
      data-testid="close-drawer-button"
      class=""
      (click)="goToPage('/admin')"
    >
      Admin
    </button>
    @if (loggedCustomer) {
    <button
      mat-icon-button
      type="button"
      id="admin-button"
      data-testid="close-drawer-button"
      class=""
      (click)="logout()"
    >
      Logout
    </button>
    }
  </div>
  <span> </span>
</nav>
